$lineWidth: 1px;

@import "theme";

:global {
  .react-tabs {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    &__tab-list {
      padding: 0;
      margin: 0;
      white-space: nowrap;
      border-bottom: $lineWidth solid $layoutColor;
    }
    &__tab {
      display: inline-block;
      list-style: none;
      color: darken($textColor, 30);
      padding: 2px 8px;
      text-align: center;
      cursor: pointer;
      &--selected {
        border-bottom-color: transparent;
        color: $textColor;
      }
      &--disabled {
        cursor: default;
      }
    }
    &__tab-panel {
      display: none;
      &--selected {
        display: block;
      }
    }
  }
}