@import "theme";

@import url("modern-normalize");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Rubik:400,700&subset=cyrillic,hebrew,latin-ext");
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Regular.otf");
}

body {
  background: $bodyBackground;
  color: $textColor;
  font-family: $fontFamily;
  user-select: none;
  margin: 0;
}

a {
  text-decoration: none;
  &:active,
  &:focus {
    outline: none;
  }
}

input {
  &[type=text],
  &[type=number] {
    background: transparentize($primaryColor, 0.5);
    border: none;
    font-family: $fontFamily;
    font-size: 18px;
    padding: 4px;
    color: #f0eaff;
    width: 15em;
    &:focus {
      background: #f3f4ff;
      color: $primaryColor;
      outline: 1px solid $primaryColor;
    }
  }
  &[type=number] {
    font-family: $monospaceFamily;
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  overflow: auto;
  height: inherit;
}

// button {
//   outline: none;
//   border-radius: 7px;
//   border: 1px solid #fff;
//   color: #fff;
//   padding-top: 0.35em;
//   padding-bottom: 0.35em;
//   padding-left: 0.85em;
//   padding-right: 0.85em;
//   outline: none;
//   user-select: none;
//   background: linear-gradient(to bottom, $primary 0%, darken(adjust-hue($primary, 30), 35) 100%);
//   cursor: pointer;
//   font-family: $font-family-sans-serif;
//   transition: background-color 0.2s;
//   &:active {
//     border-top-width: 0;
//     border-left-width: 0;
//     border-right-width: 2px;
//     border-bottom-width: 2px;
//     border-color: darken(adjust-hue($primary, 0), 40);
//   }
//   &:not([disabled]):hover {
//     background: linear-gradient(to bottom, darken(adjust-hue($primary, 30), 35) 0%, darken(adjust-hue($primary, 30), 20) 100%);
//     text-shadow: 0 0 5px #844900;
//   }
//   &[disabled] {
//     background: #525252;
//     color: #adadad;
//     border-color: #adadad;
//     cursor: not-allowed;
//   }
//   &:focus {
//     outline: none;
//   }
//   + button {
//     margin-left: 4px;
//   }
// }
// react-jsonschema-form style
// .form-group.field-boolean,
// .array-item-list .form-group.field-string {
//   margin-top: 0em;
//   margin-bottom: 0em;
// }
//
// fieldset.field-array-of-string .array-item {
//   margin-bottom: $form-group-margin-bottom;
// }
::-webkit-scrollbar-thumb {
  background: $primaryColor;
}

::-webkit-scrollbar {
  width: 4px;
  background: none;
}