@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Rubik:400,700&subset=cyrillic,hebrew,latin-ext");
@font-face {
  font-family: "FiraCode";
  src: url("./fonts/FiraCode-Regular.otf");
}

$bodyBackground: #36393F;
$textColor: #DCDDDE;
$fontFamily: Rubik, sans-serif;
$monospaceFamily: FiraCode, Source Code Pro, IBM Plex Mono, monospace;
$primaryColor: hsl(180, 75%, 65%);
%contrastText {
  color: white;
  text-shadow: 0 0 2px black, 0 0 5px #00000077;
}